body {
  background: #000;
  margin: 0;
  color: #fff;
}
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(bg.jpg);
  background-size: cover;
  background-position: center;
}
.title {
  font-size: 6rem;
  font-weight: 800;
  font-family: "Hallowed Grounds", "Times New Roman", Times, serif;
  text-align: center;
}
.content {
  text-align: center;
  position: relative;
  z-index: 2;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./assets/ink_lv2.gif") center/cover;
  z-index: 1;
  mix-blend-mode: multiply;
}
